<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/about.css" type="text/css">
    <link rel="stylesheet" href="../css/footer.css" type="text/css">
    <link rel="stylesheet" href="../css/header.css" type="text/css">
    <link rel="stylesheet" href="../css/home.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>
<body>
    <div class="headera">
         <div class="containera">
        <%- include("header")%>
        </div>
    </div>

    <div class="section_about">

    <div class="container">
        <div class="col-md-6">
            <h1 style="text-align: center;">ABOUT US</h1>
            <p>Gracious is a high-end fashion brand, with strong products such as shirts, suits, casual pants,
                khaki pants for gentlemen in the office. Besides, streetwear products: Jeans, T-shirts, sweaters,
                shorts, underwear ... are also dominant products of the company.<br>
                <br>Shirts are essential and appropriate clothing in all activities, going to work, meeting partners,
                attending parties, going out, traveling... Wearing a beautiful shirt is extremely important because
                it is a highlight that causes people to relax. first impression. For these reasons, Gracious's design
                experts pay great attention to design lines, textures and materials. Especially the designs are extremely
                youthful, elegant and always innovative.<br>
                <br>Not only shirts but other costumes are also prioritized byGracious especially in terms of design and
                materials that are most suitable with world fashion trends. With the advantage of a nationwide dealer
                and showroom system, quality and prestige,Gracious aims to become a trusted leading fashion brand in
                the coming years.
            </p>
        </div>
        <div class="image col-md-6">
            <img class="forabout" src="../images/image1.png" width="626px" height="417px">
        </div>

    </div>

    <div class="container">
        <div>
            <img class="gt2" src="../images/gt2.png">
        </div>
        <div class="row">
            <div class=" for1 col-md-8">
                <img src="../images/forcustomers.png">
                <h4>For Customers</h4>
                <p>Gracious's motto is to turn each customer into a "Modern Man", so we give priority to special development
                    in design and materials. Youthful - elegant - luxurious design in line with the trend world.</p>
            </div>
        </div>
        <div class="row">
            <div class=" for1 col-md-8">
                <img src="../images/forsocial.png">
                <h4>For Community Society</h4>
                <p>Gracious is a high-end fashion brand with outstanding strengths in product lines such as Shirts, Vests, Casual Pants.</p>
            </div>
        </div>
        <div class="row">
            <div class=" for1 col-md-8">
                <img src="../images/forstaff.png">
                <h4>For Staffs</h4>
                <p>Always give employees the best conditions for talent development by creative labor efforts in science,
                    technology, technology and a life full of material, rich in spirit.</p>
            </div>
        </div>
        <div class="row">
            <div class=" for1 col-md-8">
                <img src="../images/forpartner.png">
                <h4>For Partners</h4>
                <p>Always conduct transactions with the spirit of honesty, cooperation, mutual benefits, cooperation development.</p>
            </div>
        </div>

    </div>

    </div>







    <%- include("footer")%>

<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/header-rs.js"></script>
<script src="../js/header-scorll.js"></script>
<script src="../js/click-buy.js"></script>
<script src="../js/main-fn.js"></script>
</body>
</html>