<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../css/about.css" type="text/css">
    <link rel="stylesheet" href="../css/footer.css" type="text/css">
    <link rel="stylesheet" href="../css/header.css" type="text/css">
    <link rel="stylesheet" href="../css/home.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>

<div class="headera">
    <div class="containera">
        <%- include("header")%>
    </div>
</div>
<div class="containerab">
<h2 class="FM_f24">Gracious Garments</h2>
<div class="FM_f16 FM_c7 Fm_lh21 FM_w1 FM_Lsp4">Established in the year of <b>1997</b>, We “<b>Gracious Garments</b>”, are the prominent <b>Manufacturer</b> and <b>Trader</b> of a wide-ranging variety of <b>various types of GARMENTS for both men and women.</b>. To be the most preferred choice in the market we practice to never negotiate quality grounds and to be in the leading position we always stress on using the latest technology so we can keep our promise of timely delivery to our clients. We had made a reputation in the market of never failing and always keeping our commitments. Quality product is our specialty and we aim to provide best solutions to our clients.<br><br>We have chosen an adroit team of quality supervisors that value the quality of our provided&nbsp; products at each stage of development to make sure that the norms are effectively met. To offer extremely reliable products to the patrons, our team members use quality tested material that is taken from the reliable vendors and progressive technology in the best possible way. We direct all our activities to cater the expectations of customers by providing them excellent quality products as per their gratifications. Moreover, we follow moral business policies and crystal pure transparency in all our transactions to keep healthy relations with the customers.<br><br>For our accomplishment story, we are grateful to our owner, “<b>Mr. Dinesh Khurana (Owner)</b>”, whose continual backing and direction have been useful to us for attaining exponential development in the current market.</div>
<div class="FM_fSht FM_bor7 FM_bRds FM_m42 FM_m9">
    <!--display company name here -->
    <div class="FM_ds5 FM_ds7 FM_w1 FM_p52 FM_fShtH FM_bs pl30 pr30 FM_pb10"><h2 class="FM_f22 FM_c2 Fm_lh8">Factsheet</h2></div>
    <!--display company name ENDS here FM_ds5 FM_ds7 FM_w1 FM_p52 FM_pb10 FM_p53 FM_p54 FM_bg FM_fShtH FM_bs -->
    <div class="FM_fShtCntnt"><p class="FM_p55 FM_f18 pl30 pr30 FM_bt1 FM_C0">Basic Information</p><div class="fs_tbl FM_m13"><table class="FM_w1"><tbody><tr><td>Nature of Business</td><td>Manufacturer</td></tr><tr><td>Additional Business</td><td>Trader</td></tr><tr><td>Company CEO</td><td>Dinesh Khurana</td></tr><tr><td>Total Number of Employees</td><td>Upto 10 People</td></tr><tr><td>Year of Establishment</td><td>1997</td></tr><tr><td>Legal Status of Firm</td><td>Individual - Proprietor</td></tr><tr><td>Annual Turnover</td><td>Upto Rs. 50 Lakh</td></tr></tbody></table></div></div><div class="FM_fShtCntnt"><p class="FM_p55 FM_f18 pl30 pr30 FM_bt1 FM_C0">Statutory Profile</p><div class="fs_tbl FM_m13"><table class="FM_w1"><tbody><tr><td>Banker</td><td>AXIS BANK LTD</td></tr><tr><td>GST No.</td><td>07AOFPK8183F1ZR</td></tr></tbody></table></div></div><div class="FM_fShtCntnt"><p class="FM_p55 FM_f18 pl30 pr30 FM_bt1 FM_C0">Packaging/Payment and Shipment Details</p><div class="fs_tbl FM_m13"><table class="FM_w1"><tbody><tr><td>Payment Mode</td><td><ul><li>Cash</li><li>Cheque</li><li>DD</li><li>Online</li></ul></td></tr><tr><td>Shipment Mode</td><td>By Road</td></tr></tbody></table></div></div></div>
<div class="FM_pflePrd FM_m9"><h2>Why Us?</h2><div class="FM_m42 FM_ds5 FM_lh "><div class="FM_ds16 fasC FM_pr FM_wrd">We are a quality-conscious firm and continuously struggle hard to bring forth only premium quality products to our prestigious patrons at reasonable rates. Unique reasons which have given us lead in this field are given below:<br><br>
            <ul>
                <li>Wide distribution network</li>
                <li>Spacious warehouse</li>
                <li>Prompt delivery</li>
                <li>Client-centric approach</li>
                <li>Ethical business policy</li>
                <li>Affordable price range</li>
            </ul></div></div></div>
<div class="FM_bgH FM_Opc1 FM_p15 FM_pr FM_zx1">
    <div class="FM_ds5 FM_ds7">
        <h2 class="FM_f26 FM_bo FM_c3">Get in touch with us</h2>
    </div>
</div>
<p class="FM_f14 FM_Lsp4 Fm_lh10 FM_m3 FM_fl">
    <span class="FM_Db FM_m13 FM_f20 FM_bo FM_lh05">Gracious Garments</span></br>9/6784, Shyam Gali, Gandhi Nagar, Near Mahavir Chowk, Shahdara, Delhi-110031, India
</p>
<div class="FM_m47">
    <a href="https://www.google.co.in/maps/dir//28.66367,77.26411999999999" class="FM_f14 FM_Lsp4 FM_m19 FM_c10 FM_ds7 FM_m27 FM_Inf" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="17.961" height="17" viewBox="0 0 17.961 17">
            <g id="get-directions-button" transform="translate(.001 .001)">
                <g id="directions" transform="translate(0 -.001)">
                    <path d="M17.692 7.9L9.609.254a.9.9 0 0 0-1.257 0L.269 7.9a.792.792 0 0 0 0 1.19l8.083 7.65a.9.9 0 0 0 1.257 0l8.083-7.65a.792.792 0 0 0 0-1.19zm-6.915 2.72V8.5H7.185v2.55h-1.8v-3.4a.827.827 0 0 1 .9-.85h4.49V4.674l3.145 2.975z" fill="#589ee9" data-name="Path 986" transform="translate(0 .001)"></path>
                </g>
            </g>
        </svg><span class="FM_td FM_m20 FM_ftrGD">Get Directions</span>
    </a>
</div>
</div>
<%- include("footer")%>

<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/header-rs.js"></script>
<script src="../js/header-scorll.js"></script>
<script src="../js/click-buy.js"></script>
<script src="../js/main-fn.js"></script>
</body>
</html>