<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/account_songdev.css" type="text/css" >
    <link rel="stylesheet" href="../css/footer.css" type="text/css" >
    <link rel="stylesheet" href="../css/header.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>

<div class="headera">
    <div class="containera">
        <%- include("header")%>
    </div>
</div>

<!-- -&#45;&#45;-->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="../images/image1.png" width="100%"/>
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span id="titleLogin" class="active" onclick="login()">Login</span>
                        <span id="titleReg" onclick="register()">Register</span>
                    </div>

                    <!--                    <form id="LoginForm">-->
                    <!--                        <input type="text" placeholder="Username"/>-->
                    <!--                        <input type="password" placeholder="Password"/>-->
                    <!--                        <button type="submit" class="btn">Login</button>-->
                    <!--                        <a href="#">Forgot passsword</a>-->
                    <!--                    </form>-->
                    <form id="LoginForm" onSubmit="event.preventDefault()">
                        <input id="username"  type="text" required placeholder="Username"/>
                        <input id="password" type="password" required placeholder="Password"/>
                        <button id="btn-submit"  class="btn" onclick="validation()">Login</button>
                        <a href="#">Forgot passsword</a>
                    </form>

                    <form id="RegForm" onSubmit="event.preventDefault()">
                        <input id="use" type="text" placeholder="Username"/>
                        <input id="email" type="email" placeholder="Email"/>
                        <input id="pass" type="password" placeholder="Password"/>
                        <button id="btn-submit1" class="btn" onclick="reg()">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->

<%- include("footer")%>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/header-rs.js"></script>
<script src="../js/header-scorll.js"></script>
<script type="text/javascript " src="../js/account_SongDev.js"></script>
<!--<script type="text/javascript" src="js/test_js.js"></script>-->


</body>
</html>