<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../css/cart_items.css" type="text/css">
    <link rel="stylesheet" href="../css/home.css" type="text/css" >
    <link rel="stylesheet" href="../css/footer.css" type="text/css">
    <link rel="stylesheet" href="../css/header.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

</head>
<body>
<div class="headera">
    <div class="containera">
        <%- include("header")%>
    </div>
</div>

<div class="container cart" style="margin-bottom: 100px">

    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/sp4a.jpg">
                    <div>
                        <p>Rib Polo In Navy</p>
                        <small>Price: $200.00</small>
                        </br>
                        <button class="button-remove">Remove</button>


                    </div>
                </div>
            </td>
            <td>
                <div class="button_quantity">
                    <input class="minus"onclick="var result = document.getElementById('qt1');
                var qty = result.value; if( !isNaN(qty) &amp; qty > 1 ) result.value--;return false;" type='button' value='-' />
                    <input id='qt1' min='1' name='qt1' type='text' value='1' />
                    <input class="plus" onclick="var result = document.getElementById('qt1');
                 var qty = result.value; if( !isNaN(qty)) result.value++;return false;" type='button' value='+' />
                </div>
            </td>
            <td style="font-weight: 700">$200.00</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/sp3a.jpg">
                    <div>
                        <p>Asos Design</p>
                        <small>Price: $500.00</small>
                        </br>
                        <button class="button-remove">Remove</button>


                    </div>
                </div>
            </td>
            <td>
                <div class="button_quantity">
                    <input class="minus"onclick="var result = document.getElementById('qt2');
                var qty = result.value; if( !isNaN(qty) &amp; qty > 1 ) result.value--;return false;" type='button' value='-' />
                    <input id='qt2'  min='1' name='qt2' type='text' value='1' />
                    <input class="plus" onclick="var result = document.getElementById('qt2');
                 var qty = result.value; if( !isNaN(qty)) result.value++;return false;" type='button' value='+' />
                </div>
            </td>
            <td style="font-weight: 700">$500.00</td>
        </tr>


        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/sp2a.jpg">
                    <div>
                        <p>Asos Weekend</p>
                        <small>Price: $400.00</small>
                        </br>
                        <button class="button-remove">Remove</button>


                    </div>
                </div>
            </td>
            <td>
                <div class="button_quantity">
                    <input class="minus"onclick="var result = document.getElementById('qt3');
                var qty = result.value; if( !isNaN(qty) &amp; qty > 1 ) result.value--;return false;" type='button' value='-' />
                    <input id='qt3' min='1' name='qt3' type='text' value='1' />
                    <input class="plus" onclick="var result = document.getElementById('qt3');
                 var qty = result.value; if( !isNaN(qty)) result.value++;return false;" type='button' value='+' />
                </div>
            </td>
            <td style="font-weight: 700">$400.00</td>        </tr>

        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/sp1a.jpg">
                    <div>
                        <p>The North Face</p>
                        <small>Price: $400.00</small>
                        </br>
                        <button class="button-remove">Remove</button>


                    </div>
                </div>
            </td>
            <td>
                <div class="button_quantity">
                    <input class="minus"onclick="var result = document.getElementById('qt4');
                var qty = result.value; if( !isNaN(qty) &amp; qty > 1 ) result.value--;return false;" type='button' value='-' />
                    <input id='qt4' min='1' name='qt4' type='text' value='1' />
                    <input class="plus" onclick="var result = document.getElementById('qt4');
                 var qty = result.value; if( !isNaN(qty)) result.value++;return false;" type='button' value='+' />
                </div>
            </td>
            <td style="font-weight: 700">$400.00</td>        </tr>
    </table>

    <div class="total-price">

        <table>
            <tr>
                <td style="font-weight: 700">Subtotal:</td>
                <td style="font-weight: 700">$1500.00</td>
            </tr>
            <tr>
                <td style="font-weight: 700">Transport Fee:</td>
                <td style="font-weight: 700">$20.00</td>
            </tr>
            <tr>
                <td style="font-weight: 700">Total:</td>
                <td style="font-weight: 700">$1480.00</td>
            </tr>
            <tr>
                <td>
                    <button class="check_out"  onclick="window.location.href='https://garments-shop.herokuapp.com/checkout'" >Proceed to checkout
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>


                </td>
            </tr>
        </table>
    </div>

</div>
<%- include("footer")%>

<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/header-rs.js"></script>
<script src="../js/header-scorll.js"></script>
<script src="../js/click-buy.js"></script>
</body>
</html>