<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare</title>
    <link rel="stylesheet" href="../css/home.css" type="text/css" >
    <link rel="stylesheet" href="../css/footer.css" type="text/css">
    <link rel="stylesheet" href="../css/header.css" type="text/css">
    <link rel="stylesheet" href="../css/compare.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

</head>
<body>
<div class="headera">
    <div class="containera">
        <%- include("header")%>
    </div>
</div>

<div class="small-container">
    <div class="compare">
        <div class="row">
            <div class="compare-product" id="1st">
                <img src="../images/product-1.jpg">
                <table border="0" class="more-details">
                    <tr>
                        <th rowspan="6"><p>Product Details:</p></th>
                        <td>adsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsds</td>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>5</td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th><p>Product Code :</p></th>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th rowspan="2"><p>Quantity available :</p></th>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>5</td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th><p>Look After Me :</p></th>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th rowspan="3"><p>Ingredient :</p></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="compare-product" id="2nd">
                <img src="../images/product-1.jpg">
                <table border="0" class="more-details">
                    <tr>
                        <th rowspan="6"><p>Product Details:</p></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th><p>Product Code :</p></th>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th rowspan="2"><p>Quantity available :</p></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th><p>Look After Me :</p></th>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th rowspan="3"><p>Ingredient :</p></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include("footer")%>

<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/header-rs.js"></script>
<script src="../js/header-scorll.js"></script>
<script src="../js/click-buy.js"></script>
</body>
</html>