
<div class="navbara" id="menuTop">
    <div class="logo">
        <img src="../images/logo.png" width="125px"/>
    </div>
    <nav>
        <ul id="MenuItem">
            <li><a href="http://localhost:4000/">Home</a> </li>
            <li><a href="http://localhost:4000/products">Products</a> </li>
            <li><a href="#">About</a> </li>
            <li><a href="http://localhost:4000/contact-us">Contact Us</a> </li>
            <li><a href="http://localhost:4000/account">Account</a> </li>
        </ul>
    </nav>
    <a href="http://localhost:4000/cart-items" id="card-shop">
        <img src="../images/cart.png" width="30px" height="30px">
        <span id="count-item" data-count="0">0 item</span>
    </a>
    <img src="../images/menu.png" class="menu-icon" onclick="menutoggle()">

</div>