
<div class="navbara" id="menuTop">
    <div class="logo">
        <img src="../images/logo.png" width="125px"/>
    </div>
    <nav>
        <ul id="MenuItem">
            <li><form action="/khach-hang" method="get">
                    <div>
                        <input type="text" name="keyword"placeholder="Tim kiem.."/>
                        <button type="submit">Search</button>
                    </div>

                </form>
            </li>
            <li><a href="https://garments-shop.herokuapp.com">Home</a> </li>
            <li><a href="https://garments-shop.herokuapp.com/products">Products</a> </li>
            <li><a href="https://garments-shop.herokuapp.com/about">About</a> </li>
            <li><a href="https://garments-shop.herokuapp.com/contact">Contact Us</a> </li>
            <li><a href="https://garments-shop.herokuapp.com/account">Account</a> </li>
        </ul>
    </nav>
    <a href="https://garments-shop.herokuapp.com/cart-items" id="card-shop">
        <img src="../images/cart.png" width="30px" height="30px">
        <span id="count-item" data-count="0"><span>0 Item</span></span>
    </a>
    <img src="../images/menu.png" class="menu-icon" onclick="menutoggle()">

</div>

