<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="../css/home.css" type="text/css" >
    <link rel="stylesheet" href="../css/cart_items.css" type="text/css">
    <link rel="stylesheet" href="../css/footer.css" type="text/css">
    <link rel="stylesheet" href="../css/header.css" type="text/css">
</head>
<body>

<div class="headera">
    <div class="containera">
        <%- include("header")%>
    </div>
</div>



<div class="container products" style="margin-bottom: 100px">

</div>
<div class="container products" style="margin-bottom: 100px">
    <div class="row col-md-12">
        <h2 class="col-md-10" style="font-weight: bolder">TOP SELLER</h2>
        <div class="seach col-md-2">
                <div class="box-seach">
                    <input class="sr" type="text" name="keyworda"placeholder="search for manufacturer"/>
                    <button type="submit" class="glyphicon glyphicon-search"></button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-12">

        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp20a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp1a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp18a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp17a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
    </div>
    <a class="see-more">See More...</a>
    <div class="row crossbar"></div>
</div>

<div class="container products" style="margin-bottom: 100px">
    <h2 style="font-weight: bolder">Adidas</h2>
    <div class="col-md-12">
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp16a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp15a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp14a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp13a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
    </div>
    <a class="see-more">See More...</a>
    <div class="row crossbar"></div>
</div>
<div class="container products" style="margin-bottom: 100px">
    <h2 style="font-weight: bolder">Nike</h2>
    <div class="col-md-12">
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp12a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp11a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp10a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp1a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
    </div>
    <a class="see-more">See More...</a>
    <div class="row crossbar"></div>
</div>

<div class="container products" style="margin-bottom: 100px">
    <h2 style="font-weight: bolder">Dior</h2>
    <div class="col-md-12">
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp2a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp3a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp4a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp5a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
    </div>
    <a class="see-more">See More...</a>
    <div class="row crossbar"></div>
</div>

<div class="container products" style="margin-bottom: 100px">
    <h2 style="font-weight: bolder">Gucci</h2>
    <div class="col-md-12">
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp6a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp7a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp8a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
        <div class="">
            <div class="col-4 col-md-3">

                <img src="../images/sp9a.jpg">
                <h4><a href="https://garments-shop.herokuapp.com/product-details">Tommy Hilfiger</a></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>200 $</p>
                <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Add Cart </a>

            </div>
        </div>
    </div>
    <a class="see-more">See More...</a>
    <div class="row crossbar"></div>
</div>

<%- include("footer")%>

<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/header-rs.js"></script>
<script src="../js/header-scorll.js"></script>
<script src="../js/click-buy.js"></script>

</body>
</html>