@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.for1 img{
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}
.for1 h4{
    color: #ff523b;
    font-weight: 700;
}
.gt2{
    margin-left: 40px;
}
.section_about{
    margin-top: 80px;
    margin-bottom: 100px;
}